<h2>Blog</h2>

<div class="container">
  <form #blogsForm="ngForm" ng-submit = "onSubmit(blogsForm)">
    <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="blogsService.selectedBlogs._id">
    <!-- Title label -->
  <div class="row">
    <div class="col-25">
      <label>Title</label>
    </div>
      <!-- Title imput -->
    <div class="col-75">
      <input type="text" name="title" #name="ngModel" [(ngModel)]="blogsService.selectedBlogs.title" placeholder="Enter title" required>
    </div>
  </div>
    <!-- Date label -->
  <div class="row">
    <div class="col-25">
      <label for="lname">Date</label>
    </div>
    <!-- Date input -->
    <div class="col-75">
      <input type="text" name="date" #name="ngModel" [(ngModel)]="blogsService.selectedBlogs.date" placeholder="date: dd/mm/yyyy" required>
    </div>
  </div>
    <!-- Content Label -->
  <div class="row">
    <div class="col-25">
      <label for="subject">Subject</label>
    </div>
    <!-- Content Input -->
    <div class="col-75">
      <textarea type="text" name="content" #name="ngModel" [(ngModel)]="blogsService.selectedBlogs.content" placeholder="Enter blog content" required>
      </textarea>
      </div>
  </div>

  <!-- Buttons: Submit and reset -->
  <div class="buttonSection">
    <button class="button1" type="button" (click) = "resetForm(blogsForm)">Reset</button>
    <button class="button1" type="submit" [disabled]="!blogsForm.valid" (click)= "onSubmit(blogsForm)">Submit</button>
  </div>

  </form>
</div>

